@{
    ViewData["Title"] = "Doctors Page";
}

@Html.Partial("_header")

<section>
    <div>
        <img class="contact" src="~/Images/MacBook Air - 1.png">
    </div>
    <div class="text-boxcontact">
        <label>Our Email ID is </label> <br/>
        <i class="bi bi-envelope-arrow-up-fill"></i>
        <a href="mailto:medpharm123@gmail.com"><b>medpharm123@gmail.com</b></a> <br/> <br/>

        <label>Visit Our Website For More Details</label><br/>
        <i class="bi bi-globe-americas"></i>
        <a href="https://medpharm.com" target="_blank"><b>www.medpharm.com</b></a> <br/><br/>

        <label>Contact Us On </label><br/>
        <i class="bi bi-telephone-fill"></i>
        <a href="tel:+9898076085"><b>+9898076085</b></a><br/> <br/>

        <label>Our Address Is </label><br/>
        <i class="bi bi-geo-alt"></i>
        <b>Medpharm Hospital <br>opp. Vakil Shaheb Bridge <br>Boap Ahmedabad 380058</b>
    </div>
    </section>

