<footer>
    <section class="footer">
        <div class="container">
            <ul class="footer-list">
                <li>
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:medpharm123@gmail.com">medpharm123@gmail.com</a>
                </li>
                <li>
                    <i class="fas fa-globe"></i>
                    <a href="https://medpharm.com" target="_blank">www.medpharm.com</a>
                </li>
                <li>
                    <i class="fas fa-phone"></i>
                    <a href="tel:+9898076085">+9898076085</a>
                </li>
                <li>
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Medpharm Hospital, opp. Vakil Shaheb Bridge, Boap Ahmedabad 380058</span>
                </li>
                <li>
                    <p class="mb-0">© 2025 Medpharm. All Rights Reserved.</p>
                </li>
            </ul>
        </div>
    </section>
</footer>

<script src="~/js/updateprofile.js"></script>