@{
    ViewData["Title"] = "Contact Us Page";
}
@Html.Partial("~/Areas/AdminPanel/Views/Shared/_admin_header.cshtml")

<div class="text-center">
    <h3>Contact Us</h3>
</div>

<section>
    <div class="container">
        <div class="table-container">
            <table class="table-design" id="contactTable">
                <thead>
                <tr>
                    <th><i class="fas fa-hashtag me-1"></i>ID</th>
                    <th><i class="fas fa-user me-1"></i>Full Name</th>
                    <th><i class="fas fa-envelope me-1"></i>Email Address</th>
                    <th><i class="fas fa-tag me-1"></i>Subject</th>
                    <th><i class="fas fa-comment me-1"></i>Message</th>
                    <th><i class="fas fa-cogs me-1"></i>Operations</th>
                </tr>
                </thead>
                <tbody id="contactTableBody">
                <!-- Dynamic content for contact entries will go here -->
                </tbody>
            </table>
        </div>
    </div>
</section>

<script src="~/js/contact.js"></script> <!-- Include external JS file for contact operations -->

@Html.Partial("~/Areas/AdminPanel/Views/Shared/_admin_footer.cshtml")